
    <div class="mb-5 mt-5">
      <div class="card">
        <div class="card-header p-4 bg-white position-relative">
          <i class="display-4 lh-lg fw-lighter"><b><%= link_to comparison.neighborhood_1.name, comparison.neighborhood_1 %></b>
          <span class="position-absolute top-20 start-10 translate-middle badge rounded-pill bg-light fs-5 text-decoration-none"><%= link_to comparison.city_1.name, comparison.city_1 %></span>
          is like 
          <b><%= link_to comparison.neighborhood_2.name, comparison.neighborhood_2 %></b>
          <span class="position-absolute top-5 start-10 translate-middle badge rounded-pill bg-light fs-5"><%= link_to comparison.city_2.name, comparison.city_2 %></span> because...</i>
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text fs-3"><%= comparison.body %>
          <div class="row mb-4" >
            <span class="fw-bold fs-4">Overall similarity: <%= comparison.overall_similarity %></span>
            <span class="fw-lighter">( People similarity: <%= comparison.people_similarity %> |
            Culinary similarity: <%= comparison.culinary_similarity %> |
            Transportation similarity: <%= comparison.transportation_similarity %> |
            Built environment similarity: <%= comparison.built_environment_similarity %>)
</span>
          </div>
          </p>
          
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info fs-3">
    <%= comparison.net_comparison_score %></span>
          <%= link_to "/comparisons/#{comparison.id}/upvote", class: "btn btn-primary" do %>
          Agree <span class='badge text-bg-secondary'><%= comparison.upvotes %></span>
          <% end %> 
          <%= link_to "/comparisons/#{comparison.id}/downvote", class: "btn btn-warning" do %>
          Disagree <span class='badge text-bg-secondary'><%= comparison.downvotes %></span>
          <% end %> 
          <%= link_to "Join the conversation (#{comparison.comments_count})", comparison, class: 'btn btn-outline-primary' %>
      </div>
      <div class="card-footer text-muted">
        Submitted <%= time_ago_in_words(comparison.created_at) %> ago by <%= comparison.user.username %> 
        <%= link_to 'Edit', edit_comparison_path(comparison) %> |
        <%= link_to 'Destroy', comparison, method: :delete, data: { confirm: 'Are you sure?' } %> |
        </div>
      </div>
    </div>
