 <div class="row">
    <div class="mb-5 mt-5">
      <div class="card">
        <div class="card-header fs-2">
          <%= link_to %="cities/#{comparison.neighborhood_1.id}">
          <%= comparison.neighborhood_1.name %></a> (<%= comparison.city_1.name %>) is like <%= comparison.neighborhood_2.name %> (<%= comparison.city_2.name %>) because...
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text fs-3"><%= comparison.body %>
          <div class="row mb-4" >
            <span class="fw-bold fs-4">Overall similarity: <%= comparison.overall_similarity %></span>
            <span class="fw-lighter">( People similarity: <%= comparison.people_similarity %> |
            Culinary similarity: <%= comparison.culinary_similarity %> |
            Transportation similarity: <%= comparison.transportation_similarity %> |
            Built environment similarity: <%= comparison.built_environment_similarity %>)
</span>
          </div>
          </p>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info fs-3">
    <%= comparison.net_comparison_score %></span>
          <a href="#" class="btn btn-primary">Agree <span class="badge text-bg-secondary"><%= comparison.upvotes %></span></a>
          <a href="#" class="btn btn-warning">Disagree <span class="badge text-bg-secondary"><%= comparison.downvotes %></span></a>
          <%= link_to "Join the conversation (#{comparison.comments_count})", comparison, class: 'btn btn-outline-primary' %>
      </div>
      <div class="card-footer text-muted">
        Submitted <%= time_ago_in_words(comparison.created_at) %> ago by <%= comparison.user.username %> 
        <%= link_to 'Edit', edit_comparison_path(comparison) %> |
        <%= link_to 'Destroy', comparison, method: :delete, data: { confirm: 'Are you sure?' } %> |
        </div>
      </div>
    </div>
  </div>
