<%= form_with(model: comparison) do |form| %>
  <% if comparison.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comparison.errors.count, "error") %> prohibited this comparison from being saved:</h2>

      <ul>
        <% comparison.errors.each do |error| %> 
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= form.label "Pick a first neighborhood", class: "fs-2" %>
    <br>
    <%= form.collection_select :neighborhood_1_id, Neighborhood.order(:city_id).order(:name),:id,:name_with_city, class: "form-select-lg form-floating w-50 fs-3", include_blank:true  %>
  </div>
<div class="form-label fs-2 ">which is comparable to...</div>
  <div class="">
    <%= form.collection_select :neighborhood_2_id, Neighborhood.order(:city_id).order(:name),:id,:name_with_city, class: "form-select-xlg form-floating w-50", include_blank:true %><br>
        <%= form.label "(hint: this is any neighborhood in another city)", class: "form-label fw-lighter" %>

  </div>
  <div class="field mb-4">
    <div class="form-label fs-2">because...</div>
    <%= form.text_area :body, class: "form-control" %>
    <div class="form-label fw-lighter">(hint: the more descriptive and specific you are the better)</div>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id %>

  </div>
<div class="fs-2 mb-4">Think about the neighborhoods, how similar are they?</div>
  <div class="field">
    <%= form.label :culinary_similarity, class: "form-label" %>
    <input type="range" class="form-range" min="0" max="5" step="1" id="customRange3">

    <%= form.select :culinary_similarity, ['0','1','2','3','4','5'], include_blank:true %>
  </div>

  <div class="field">
    <%= form.label :transportation_similarity, class: "form-label" %>
        <%= form.select :transportation_similarity, ['0','1','2','3','4','5'], include_blank:true %>

  </div>

  <div class="field">
    <%= form.label :people_similarity, class: "form-label" %>
    <%= form.select :people_similarity, ['0','1','2','3','4','5'], include_blank:true %>
  </div>

  <div class="field">
    <%= form.label :built_environment_similarity, class: "form-label" %>
    <%= form.select :built_environment_similarity, ['0','1','2','3','4','5'], include_blank:true %>
  </div>


<input type="range" class="form-range" min="0" max="5" step="1" id="customRange3">


  <div class="actions mb-4">
    <%= form.submit class: "btn btn-primary mt-4" %>
  </div>
  </div>
<% end %>
