<%= form_with(model: favorite_neighborhood) do |form| %>
  <% if favorite_neighborhood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(favorite_neighborhood.errors.count, "error") %> prohibited this favorite_neighborhood from being saved:</h2>

      <ul>
        <% favorite_neighborhood.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% if FavoriteNeighborhood.where(user_id: current_user.id).where(neighborhood_id: @neighborhood.id) == [] %>


  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :neighborhood_id, value: @neighborhood.id %>
  </div>

  <div class="actions">
    <%= form.button type: :submit do %>
      <i class="fa-regular fa-heart"></i>
    <% end %>
  </div>
  <% else %>
  <% @favorite_neighborhood = FavoriteNeighborhood.where(user_id: current_user.id).where(neighborhood_id: @neighborhood.id).first %>
  <%= link_to favorite_neighborhood_path(@favorite_neighborhood.id), method: :delete do %>
  <i class="fa-solid fa-heart"></i>
  <% end %>
  <% end %>
<% end %>
