<nav class="navbar navbar-expand-lg bg-light mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Comparison</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"><%= link_to_unless_current "Home", "/", class: "nav-link" %></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"><%= link_to_unless_current "Cities", cities_path, class: "nav-link" %></a>
        </li>
        <li class="nav-item">
                    <a class="nav-link"><%= link_to_unless_current "Neighborhoods", neighborhoods_path, class: "nav-link" %></a>

        </li>
        <li class="nav-item">
                            <a class="nav-link"><%= link_to_unless_current "Recent Comparisons", comparisons_path, class: "nav-link" %></a>

        </li>
                <li class="nav-item">
                            <a class="nav-link"><%= link_to_unless_current "Likes", likes_path, class: "nav-link" %></a>

        </li>
          <li class="nav-item">
                            <a class="nav-link"><%= link_to_unless_current "Comments", comments_path, class: "nav-link" %></a>

        </li>
          <li class="nav-item">
                            <a class="nav-link"><%= link_to_unless_current "Users", "#", class: "nav-link" %></a>

        </li>


      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to "#{current_user.username}'s Profile", edit_user_registration_path, class: 'nav-link' %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
      <!-- <form class="d-flex" role="search"><input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button></form> -->

    </div>
  </div>
</nav>
