
<div class="row">
    <div class="mb-5 mt-5">
      <div class="card">
        <div class="card-header fs-1">
          
          <i class="fa-solid fa-city"></i> <%= @city.name %> 
        </div>
        <div class="card-body">

        <div class="row">
        <div class="col bg-ligt">
        <div>
          <h5 class="card-title"></h5>
          <p class="card-text fs-3">
          <p><%= @city.description %></p>
          <p><%= link_to "Read more on wikipedia", city.wiki_url  %></p>
          <p>
            <strong>Lat:</strong>
            <%= @city.lat %>
          | <strong>Lng:</strong>
            <%= @city.lng %>
          </p>
          
        </div>
        </div>
        <div class="col">
          <div id="map" style='width: 600px; height: 400px;'></div>

          <div>
                   <%= render 'shared/map', lat: @city.lat, lng: @city.lng, place: @city, cached: true %>

          </div>
        </div>
        </div>
        <div class="row">

      <div class="col">
        <h4>There are <%= @city.neighborhoods_count%> identified neighborhoods in <%= @city.name %></h4>
          <ul class="list-unstyled card-columns" style="column-count: 4;">
          <% @city.neighborhoods.order(name: :asc).each do |neighborhood| %>
            <li><%= link_to neighborhood.name, neighborhood %></li>
          <% end %>
          </ul>
</div>
        </div>
  </div>
      </div>
      <div class="card-footer text-muted">
        
        </div>
        </div>
      </div>
    </div>
