 <div class="row">
    <div class="mb-5 mt-5">
      <div class="card">
        <div class="card-header fs-2 fw-light">
        <i class="fa-solid fa-map-location-dot"></i>
          <%= @neighborhood.name %>
          (<%= link_to @neighborhood.city.name, @neighborhood.city %>) 
        </div>
        <div class="card-body">

        <div class="hstack gap-3">
        <div class="bg-ligt">
          <h5 class="card-title"></h5>
          <p class="card-text fs-3">
          <p><%= @neighborhood.description %></p>
          <p><%= link_to "Read more on Wikipedia", @neighborhood.wiki_url %></p>
          <p>
            <strong>Lat:</strong>
            <%= @neighborhood.lat %>
          | <strong>Lng:</strong>
            <%= @neighborhood.lng %>
          </p>
          
        </div>
        <div class="vr"></div>
          <div>
          <div class="align-top">
  <div id="map" style='width: 800px; height: 400px;' ></div>
</div>
         <%= render 'shared/map', lat: @neighborhood.lat, lng: @neighborhood.lng, place: @neighborhood  %>



          </div>
        </div>
  
      </div>
      <div class="card-footer text-muted">
        
        </div>
        </div>
      </div>
    </div>
