 <div class="row">
    <div class="mb-5 mt-5">
      <div class="card">
        <div class="card-header fs-1 fw-light">
          <%= @neighborhood.name %>
          (<%= link_to @neighborhood.city.name, @neighborhood.city %>) 
        </div>
        <div class="card-body">

        <div class="hstack gap-3">
        <div class="bg-ligt">
          <h5 class="card-title"></h5>
          <p class="card-text fs-3">
          <p><%= @neighborhood.description %></p>
          <p>
            <strong>Lat:</strong>
            <%= @neighborhood.lat %>
          | <strong>Lng:</strong>
            <%= @neighborhood.lng %>
          </p>
          <p>
            <strong>Favorite neighborhoods count:</strong>
            <%= @neighborhood.favorite_neighborhoods_count %> <i>will add in once users start to save neighborhoods</i>
          </p>
        </div>
        <div class="vr"></div>
          <div>
          <div>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>
  function initMap() {
    var mapDiv = document.getElementById('map');

    var map = new google.maps.Map(mapDiv);

    var bounds = new google.maps.LatLngBounds();
    
    var infowindow = new google.maps.InfoWindow({
      content: "<%= @neighborhood.name %> (<%= @neighborhood.city.name %>)" 
    });
    
    var marker = new google.maps.Marker({
      position: {lat: <%= @neighborhood.lat %>, lng: <%= @neighborhood.lng %>}, 
      map: map,
      title: '<%= @neighborhood.name %> (<%= @neighborhood.city.name %>)',
      icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png' 
    });
    
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });

  bounds.extend(new google.maps.LatLng(<%= @neighborhood.lat %>, <%= @neighborhood.lng %>));
  map.fitBounds(bounds,-5000);
  map.setZoom(-100);
  };
  
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV.fetch("GMAPS_KEY") %>&callback=initMap"
async defer></script>
          </div>
        </div>
  
      </div>
      <div class="card-footer text-muted">
        
        </div>
        </div>
      </div>
    </div>
