 <%= render 'neighborhoods/neighborhood', neighborhood: @neighborhood  %>

<div class="row">
      <div class="fs-1">People have made <%= @neighborhood.all_comparisons_for_given_neighborhood.count %> comparisons with <%= @neighborhood.name %><% if @neighborhood.all_comparisons_for_given_neighborhood.count > 3 %>
        <%= ", here are the top 3..." %>
        <% else %>
        <%= "..." %>
<% end %>
</div> 
<div class="row">

      <% @neighborhood.all_comparisons_for_given_neighborhood.order(net_comparison_score: :desc).limit(3).each do |comparison| %>
         <%= render 'comparisons/comparison', comparison: comparison, class: "w-50"  %>

      <% end %>

      </div>


<%= link_to 'Edit', edit_neighborhood_path(@neighborhood) %> |
<%= link_to 'Back', neighborhoods_path %>
