   <% content_for :title, @neighborhood.name %>

 <%= render 'neighborhoods/neighborhood', neighborhood: @neighborhood  %>

<div class="row">
      <div class="fs-1">People have submitted <%= @neighborhood.all_comparisons_for_given_neighborhood.count %> 
      <% if @neighborhood.all_comparisons_for_given_neighborhood.count == 1 %>
      comparison
      <% else %>
      
      comparisons 
      <% end %>which included <%= @neighborhood.name %>
      <% if @neighborhood.all_comparisons_for_given_neighborhood.count > 3 %><br>
        <%= "here are the top three..." %>
        <% else %>
        <%= "..." %>
<% end %>
</div> 
<div class="row">

      <% @neighborhood.all_comparisons_for_given_neighborhood.includes(:user).includes(:city_1).includes(:city_2).order(net_comparison_score: :desc).limit(3).each do |comparison| %>
         <%= render 'comparisons/comparison', comparison: comparison, class: "w-50"  %>

      <% end %>

      </div>


<%= link_to 'Back', neighborhoods_path %>
