 <%= render 'neighborhoods/neighborhood', neighborhood: @neighborhood  %>

<div class="row">
      <div>People have compared <%= @neighborhood.name %> to...</div>
      <% @neighborhood.neighborhood_2s.each do |comparable_neighborhood| %>
        <li><%= comparable_neighborhood.name %> (<%= link_to comparable_neighborhood.city.name, comparable_neighborhood.city %>)</li>
      <% end %>
            <% @neighborhood.neighborhood_1s.each do |comparable_neighborhood| %>
        <li><%= comparable_neighborhood.name %> (<%= link_to comparable_neighborhood.city.name, comparable_neighborhood.city %>)</li>
      <% end %>


      </div>
     <div>
          RENDER ALL COMPARISONS FOR THE NEIGHBORHOOD HERE
          
      </div>

<%= link_to 'Edit', edit_neighborhood_path(@neighborhood) %> |
<%= link_to 'Back', neighborhoods_path %>
