<div class="row mt-4">
<div class="shadow-lg p-3 bg-body rounded position-relative mb-5">

<h1 class="mt-4 fw-light text-center ">The top comparison for <b><%= link_to @query_neighborhood.name, @query_neighborhood %></b><span class="position-absolute top-20 start-10 translate-middle badge rounded-pill bg-light fs-5 text-decoration-none"><%= link_to @query_neighborhood.city.name, @query_neighborhood.city %></span></b> in 
<b><%= link_to @query_city.name, @query_city %></b> is... </h1>

<% if @winning_comparison != nil %>
 <div class="w-75 mx-auto"><%= render 'comparisons/comparison', comparison: @winning_comparison  %></div>
  <div class="mx-auto">
  <center><%= render 'shared/add_comparison_button', comparison: Comparison.new %></center>
  </div>
 <% else %>
 <div class="fs-3 fw-lighter mt-5 mb-5">Doesn't seem like someone has made this comparison yet, <%= link_to "add one", new_comparison_path, class: "" %>
?</div>
 <% end %>
</div>

<hr class="mb-5">
<% if @comparisons_limited_to_target_city.length != 0 %>
<h2>People have submitted <%= @comparisons_limited_to_target_city.count %>  
 <% if @comparisons_limited_to_target_city.count == 1 %>
      comparison
      <% else %>
      comparisons 
      <% end %> for 
<%= @query_neighborhood.name %> (<%= @query_neighborhood.city.name %>) in <%= @query_city.name %>...</h2>
<% @comparisons_limited_to_target_city.order(net_comparison_score: :desc).each do |comparison| %>
 <%= render 'comparisons/comparison', comparison: comparison  %>
<% end %>
<hr class="mb-5" >


<% end %>
<div class="shadow-lg p-3 bg-body rounded text-center position-relative mb-5">
<% if @comparisons_except_in_target_city.count == 0 %>
<h2>No one has added a comparison for <%= @query_neighborhood.name %> in a city other than <%= @query_city.name %> yet</h2>
<% else %>
<h2>Are there places like <%= @query_neighborhood.name %> in other cities? </h2>
<h5>
  People have compared <%= @query_neighborhood.name %> to neighborhoods in cities other than <%= @query_city.name %> <%= @comparisons_except_in_target_city.count %> time<% if @comparisons_except_in_target_city.count == 1  %>:
    <% elsif @comparisons_except_in_target_city.count < 3 %>s
    <% else %>, here are the top three...</h5>
    <% end %>
<% @comparisons_except_in_target_city.order(net_comparison_score: :desc).limit(3).each do |comparison| %>
 <%= render 'comparisons/comparison', comparison: comparison  %>

<% end %>
<% end %>
</div>
<hr class="mb-5">
<div class="shadow-lg p-3 bg-body rounded text-center position-relative mb-5">
<h2>For good measure, here's every comparison (all <%= @all_comparisons_for_query_neighborhood.count %> of them!) involving <%= @query_neighborhood.name %> sorted by total score...</h2>
<% @all_comparisons_for_query_neighborhood.order(net_comparison_score: :desc).limit(3).each do |comparison| %>
 <%= render 'comparisons/comparison', comparison: comparison  %>
<% end %>
</div>
</div>
