<div class="row mt-4">
<div class="shadow-lg p-3 bg-body rounded text-center position-relative mb-5">

<h1>The top comparison for <b><%= @query_neighborhood.name %> (<%= @query_neighborhood.city.name %>)</b> in <b><%= @query_city.name %></b> is... </h1>


 <%= render 'comparisons/comparison', comparison: @winning_comparison  %>
</div>

<hr>
<h2>There are <%= @comparisons_limited_to_target_city.count %> total comparisons for <%= @query_neighborhood.name %> in <%= @query_city.name %>...</h2>
<% @comparisons_limited_to_target_city.order(net_comparison_score: :desc).each do |comparison| %>
 <%= render 'comparisons/comparison', comparison: comparison  %>

<% end %>

<hr>

<h2>People have also compared <%= @query_neighborhood.name %> to places <i>not</i> in <%= @query_city.name %> <%= @comparisons_except_in_target_city.count %> times</h2>
<% @comparisons_except_in_target_city.each do |comparison| %>
 <%= render 'comparisons/comparison', comparison: comparison  %>

<% end %>
<hr>
<h2>For good measure, here's every comparison (all <%= @all_comparisons_for_query_neighborhood.count %> of them!) involving <%= @query_neighborhood.name %> sorted by total score...</h2>
<% @all_comparisons_for_query_neighborhood.each do |comparison| %>
 <%= render 'comparisons/comparison', comparison: comparison  %>
<% end %>
</div>
