  <% content_for :title, "Home" %>

<div class="row mt-4">
  <div class="vstack mt-4">
    <div>
      <form action="/find_comparison">
        <h2 class="fs-1 fw-lighter">What is the...</h2>
        <select name="query_neighborhood" id="query_neighborhood" class="form-select-lg form-floating w-50" >
          <option selected>Pick a neighborhood you know</option>
          <% City.all.each do |each_city| %>

    <% Neighborhood.where(:city=>each_city).all.order(name: :asc).each do |neighborhood| %>
            <option value="<%= neighborhood.id %>"><%= neighborhood.name_with_city %></option>
          <% end %>
          <% end %>
        </select>
        <h2 class="fs-1 fw-lighter">of</h2>
        <div>
          <select name="query_city" class="form-select-lg w-50">
            <option selected>Pick a city you don't</option>
            <% City.all.each do |a_city| %>
              <option value="<%= a_city.id %>"><%= a_city.display_name %></option>
            <% end %>
          </select>
        </div>
        <button class="btn btn-primary w-50 mx-auto mt-5 mb-5">find out..</button>
      </form>
    </div>
  </div>
  <div class="row mt-4 ms-auto">
    <div>
      Or, <%= link_to "see all recent comparisons", '/comparisons' %>, <%= link_to "explore by city", '/cities' %>, or <%= link_to "explore by neighborhoods", '/neighborhoods' %></div>
  </div>
