<!DOCTYPE html>
<html>
  <head>

    <title>Comparison | <%= yield(:title) %> </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'shared/cdns' %>

  </head>

  <body>
<%= render 'shared/navbar' %>
<div class="container mx-auto">
      <% if flash.any? %>
        <% flash.each do |type, msg| %>
          <div >
            <% if notice.present? == true %>
              <p class="alert alert-primary w-25 mx-auto mt-5"><%= notice %></p>
            <% end %>
            <% if alert.present? == true %>
              <p class="alert alert-danger w-25 mx-auto mt-5"><%= alert %></p>
            <% end %>
            <!-- <%= msg %> -->
          </div>
        <% end %>
      <% end %>

    <%= yield %>
    </div>
<footer class="page-footer font-small blue mt-5">

    <div class="footer-copyright text-center py-3 mt-5">&copy; 2023 Matt McCabe</div>
    </footer>
  </body>
</html>
